@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import "tailwindcss";


:root,
body{
  margin: 0;
  padding: 0;
}

#logotext{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.jakartaFont{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.fontSans{
  font-family: sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
